{% extends "common/base.html" %}
{% block body %}


    <div class="container">

        <div class="row">
            <div class="col mx-auto  bg-warning">
                <h1 class="text-center">ads</h1>
            </div>
            <div class="col-8">
                {% block gamePlayer %}
                {% endblock %}
            </div>
            <div class="col mx-auto  bg-warning">
                <h1 class="text-center">ads</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 bg-info mt-3 py-2 lead">
                <span>Game1</span>
                <span>Game2</span>
                <span>Game3</span>
                <span>Game4</span>
                <span>Game5</span>
                <span>Game7</span>
                <span>Game8</span>
                <span>Game9</span>
                <span>Game10</span>

            </div>

        </div>
    </div>





{% endblock %}
