{% extends "common/base.html" %}
{% block body %}


    <div class="container">

        <div class="row">
            <div class="col mx-auto  bg-warning">
                <h1 class="text-center text-white">ads</h1>
            </div>
            <div class="col-8">
                {% block gamePlayer %}

                
                {% endblock %}
            </div>
            <div class="col mx-auto  bg-warning">
                <h1 class="text-center text-white">ads</h1>
            </div>
        </div>
        <div class="row">

            <div class="container mt-5">
                <div class="row align-items-start">

                    <div class="col my-2 mx-1">
                        <div class="card" style="width:100%;">
                            <img src="" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">test1</h5>
                                <p class="card-text text-black">playyyyy</p>
                                <a href="#" class="btn btn-primary">Play</a>
                            </div>
                        </div>
                    </div>

                    <div class="col my-2 mx-1">
                        <div class="card" style="width:100%;">
                            <img src="" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">test1</h5>
                                <p class="card-text text-black">playyyyy</p>
                                <a href="#" class="btn btn-primary">Play</a>
                            </div>
                        </div>
                    </div>


                    <div class="col my-2 mx-1">
                        <div class="card" style="width:100%;">
                            <img src="" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">test1</h5>
                                <p class="card-text text-black">playyyyy</p>
                                <a href="#" class="btn btn-primary">Play</a>
                            </div>
                        </div>
                    </div>

                    <div class="col my-2 mx-1">
                        <div class="card" style="width:100%;">
                            <img src="" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">test1</h5>
                                <p class="card-text text-black">playyyyy</p>
                                <a href="#" class="btn btn-primary">Play</a>
                            </div>
                        </div>
                    </div>
             
               
                        <div class="col my-2 mx-1">
                            <div class="card" style="width:100%;">
                                <img src="" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-black">test1</h5>
                                    <p class="card-text text-black">playyyyy</p>
                                    <a href="#" class="btn btn-primary">Play</a>
                                </div>
                            </div>
                        </div>

                        <div class="col my-2 mx-1">
                            <div class="card" style="width:100%;">
                                <img src="" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-black">test1</h5>
                                    <p class="card-text text-black">playyyyy</p>
                                    <a href="#" class="btn btn-primary">Play</a>
                                </div>
                            </div>
                        </div>


                        <div class="col my-2 mx-1">
                            <div class="card" style="width:100%;">
                                <img src="" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-black">test1</h5>
                                    <p class="card-text text-black">playyyyy</p>
                                    <a href="#" class="btn btn-primary">Play</a>
                                </div>
                            </div>
                        </div>

                        <div class="col my-2 mx-1">
                            <div class="card" style="width:100%;">
                                <img src="" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-black">test1</h5>
                                    <p class="card-text text-black">playyyyy</p>
                                    <a href="#" class="btn btn-primary">Play</a>
                                </div>
                            </div>
                        </div>
                 
        
                </div>
            </div>
        

        </div>
    </div>





{% endblock %}
